<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="shortcut icon" href="static/images/favicon.ico">
		<link rel="stylesheet" href="static/css/style.css">
		<title>GroupBuy</title>
	</head>
<body>
<div class="page">
	<header>
	<a href="profile.html"><img alt="" src="static/images/prof.png"></a>
	<a href="listBuy.html"><img alt="" src="static/images/list.png"></a>
	<div class="header-img-home"></div>
	</header>
	
	<div class="content-box">
		<div class="cont">Новая закупка</div>
		<div class="box-text text-center">
			 Название товара: 
			<input type="text" class="textbox"><br>
			 Цена за единицу: 
			<input type="text" class="textbox"><br>
			 Необходимое количество: 
			<input type="text" class="textbox textboxCount"><br>
			 Минимальное количество: 
			<input type="text" class="textbox textboxCount1"><br>
			 Максимальное количество: 
			<input type="text" class="textbox textboxCount2"><br>
			<input type="button" value="Создать" class="buttonCreate"><br>
		</div>
	</div>
	
	<footer class="site-footer">
		<div class="copyrights"><p>lukin_gorlischeva_krasikov</p></div>
	</footer>
</div>
</body>
</html>